:root {
	--bg-color: lightskyblue;
	--txt-color: white;
}

body {
	background-color: var(--bg-color);
	color: var(--txt-color);
	overflow: hidden;
}

/*
 * STATYSTYKI
 */
#stats {
	display: flex;
	width: 60.6vw;
	margin: auto;
	height: 3.125vw;
}
#stats div {
	margin: auto;
	font-size: 150%;
	width: 15vw;
	display: flex;
}
#stats p {
	text-align: center;
	margin: auto;
}
#stats img {
	height: 2.75vw;
}

/*
 * SZEPTUCH
 */
#szeptuch {
	display: block;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 10.2vw;
	height: 25vw;
	transition: 0.1s all;
	z-index: 0;
}

#szeptuch:active {
	height: 22vw;
}

/*
 * SKLEP
 */
#shop {
	position: relative;
	width: 34.4vw;
	padding: 1vw;
	height: 44.35vw;
	margin: 0 auto;
	background-color: white;
	color: black;
	z-index: 1;
	overflow-y: scroll;
}
.shop-card {
	margin: 2vh 0;
}
.shop-card-column {
	height: 14.1%;
	display: flex;
	flex-direction: row;
	margin: auto;
}
.shop-card-buy {
	background-color: black;
	color: white;
	font-size: 125%;
	border: none;
	width: 17.9%;
	transition: 0.1s all;
}
.shop-card-buy:hover {
	background-color: white;
	color: black;
}
.shop-card-text {
	width: 50.15%;
	margin: auto;
}
.shop-card img {
	margin: auto;
	height: 20%;
	width: 20%;
}
.shop-card-text-desc {
	font-size: 75%;
	margin: 0;
}

/*
 * FOOTER
 */
#footer {
	position: absolute;
	width: 99vw;
	height: 5vw;
	inset: 0;
	margin-bottom: 4.5vh;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}
#footer img {
	margin: auto;
	width: 5vw;
	height: 5vw;
	transition: 0.1s all;
}
#footer img:hover {
	width: 4.5vw;
	height: 4.5vw;
	padding: 0.25vw;
}

/*
 * MISC
 */
.hidden {
	visibility: hidden;
}
